.uploaderComponent {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222;
  border-radius: 1em;
  padding: 1em;
}

.uploadButton {
  background: #095100;
  margin: 1em;
  padding: 1em;
  width: 50%;
}

.imgContainer {
  overflow: hidden;
  width: 5em;
  height: 5em;
  cursor: pointer;
  transition: transform 0.2s;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progressBar {
  width: 100%;
  height: 2em;
  background-color: #333;
  border-radius: 2em;
  overflow: hidden;
}
.progress {
  height: 100%;
  position: relative;
  background-color: green;
  transition: width 0.3s ease;
}