.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4em;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0 -10px 20px #000000c3;
  z-index: 10;
}
.nav div {
  display: flex;
  align-items: center;
  gap: 1em;
  height: 100%;
  margin-inline: 0.5em;
}
.nav div img {
  height: 60%;
  aspect-ratio: 1;
}

.link {
  position: relative;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease;
}
.link:hover::after {
  width: 100%;
}

.link:hover,
.activeLink:hover {
  color: #000;
}

.activeLink {
  position: relative;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease;
}