.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  background: #1111115e;
  height: 4em;
  transition: height 0.3s;
  z-index: 20;
}
.navbar a {
  margin-inline: 0.5em;
}

.navbar .homeLink {
  margin-right: auto;
}