.introduce {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  min-height: 50vh;
}
.introduce .imgContainer {
  display: flex;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.introduce .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.introduce p {
  max-width: 60%;
  font-size: 1.2em;
  line-height: 1.2;
  text-align: center;
  margin-top: 0.5em;
  color: #b7b7b7;
}


.categoriesSection {
  position: relative;
  height: 100vh;
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1em;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(10px) brightness(70%);
  transition: background 0.5s;
}


.selectedCategoryInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-left: 5em;
}
.selectedCategoryInfo h1 {
  margin: 0;
  margin-top: 2em;
  font-size: 5em;
}
.selectedCategoryInfo p {
  font-size: 1.2em;
  text-align: justify;
}
.selectedCategoryInfo a {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666;
  background: #00000050;
  padding: 0.8em 2em;
  border-radius: 2em;
  width: 40%;
  transition: background 0.2s;
}
.selectedCategoryInfo a:hover,
.selectedCategoryInfo a:focus {
  background: #000;
  color: #fff;
}

.categoriesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  width: 44em;
  overflow: hidden;
}

.categoryList {
  display: flex;
  align-items: flex-end;
  gap: 2em;
  margin: 1em;
  padding-bottom: 1em;
  transform: translateX(0);
  transition: transform 0.4s ease;
}

.categorySelected,
.categoryUnselected {
  flex-shrink: 0;
  width: 12em;
  height: 15em;
  overflow: hidden;
  text-align: center;
  border-radius: 2em;
  box-shadow: 2px 2px 10px #00000050;
  transition: height 0.4s;
}
.categorySelected img,
.categoryUnselected img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.categorySelected {
  height: 17em;
}

.categoryUnselected {
  cursor: pointer;
  opacity: 0.8;
}

.categoriesPagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.categoriesPagination button {
  display: flex;
  width: 3em;
  height: 3em;
  padding: 0.8em;
  align-items: center;
  justify-content: center;
  background: #00000080;
  color: #fff;
  border-radius: 50%;
}
.categoriesPagination button:disabled {
  color: #666;
  cursor: auto;
  opacity: 0.6;
}
.categoriesPagination button:disabled:hover {
  border: 0;
}
