.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.imgUploadContainer {
  width: 60%;
  background: #111;
  border-radius: 2em;
  padding: 1em;
}

.categorySelection {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categorySelection ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
.categorySelection ul li {
  display: flex;
  align-items: center;
  height: 5em;
  background: #222;
  border-radius: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.categorySelection ul li .imgContainer {
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 1em;
}
.categorySelection ul li .imgContainer img {
  height: 100%;
  object-fit: cover;
}

.categorySelection ul li .imgInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 1em;
}