.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  color: #fff;
  position: relative;
  padding: 2em;
  margin-top: auto;
}
.info {
  display: flex;
  flex-direction: column;
}
.socialMedia {
  display: flex;
  gap: 1em;
}