.page {
  align-self: center;
  align-items: center;
  width: 80%;
  background: #111;
  min-height: 100vh;
  
}

.logout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.logout button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}



.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding: 2em;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  border: 1px solid #666;
  background: #222;
}
