.page {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.logout button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}


.uploadSection {
  width: 80%;
}




.categorySection {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.categoryList {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.categoryList li {
  display: flex;
  align-items: center;
  height: 5em;
  background: #222;
  border-radius: 1em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.categoryList li .imgContainer {
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 1em;
}
.categoryList li .imgContainer img {
  height: 100%;
  object-fit: cover;
}

.categoryList li .imgInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 1em;
}