:root {
  --color: #34a7d8;
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px) brightness(60%);
  z-index: -1;
}

.intro {
  text-align: center;
  width: 50%;
}

.flex {
  margin-top: 3em;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.flex .contents {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1em;
}

.flex .contents .info {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}

.flex .contents .info .svgContainer {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #000;
}

.flex .contents .info .flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 1em;
}
.flex .contents .info .flexCol h3,
.flex .contents .info .flexCol p {
  margin: 0;
  padding: 0;
}
.flex .contents .info .flexCol h3 {
  color: var(--color);
}

.flex form {
  margin-top: 0;
  background: #fff;
  padding: 1em;
  width: 40%;
  color: #000;
}
.flex form h1 {
  text-align: center;
}
.flex form button {
  width: 100%;
  color: #fff;
  background: var(--color);
}

.flex .msgSuccessBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color);
  color: #ececec;
  padding: 1em;
  width: 40%;
  border-radius: 1em;
}




.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}
.formGroup p {
  text-align: end;
  color: #888;
  font-size: 0.8em;
}

.formGroup label {
  color: #444;
  margin-bottom: 0.2em;
}
.formGroup textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  border-bottom: 1px solid #666;
  outline: none;
  padding: 0.8em 0.2em;
  letter-spacing: 1px;
  background: #fff;
  color: #000;
}

.errors {
  list-style: none;
  margin: 0;
  padding: 0;
}
.errors li {
  color: #e00000;
}

.error {
  color: #e00000;
}


@media (max-width: 768px) {
  .intro {
    width: 100%;
  }
  .intro p {
    text-align: justify;
    padding: 1em
  }
  .flex {
    margin-top: 1em;
    width: 100%;
    flex-direction: column;
  }
  .flex .contents {
    width: 100%;
    align-items: center;
  }
  .flex .contents .info {
    margin-bottom: 0;
    font-size: 1.1em;
  }

  .flex form {
    margin-top: 2em;
    width: 90%;
  }

  .flex .msgSuccessBox {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 2em;
  }
}

